[submodule "pyimgui"]
	path = pyimgui
	url = https://github.com/swistakm/pyimgui.git
	ignore = dirty
[submodule "imgui_software_renderer"]
	path = imgui_software_renderer
	url = https://github.com/emilk/imgui_software_renderer.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty

